
{% extends 'base.html' %}

{% block body %}

<!--Todo List Show-->
<div class="container">
    <h3>Show Task List</h3>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        {% for task in task_list %}
        <tr>
            <th scope="row">1</th>
            <td>{{task.task_title}}</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
